.center {
    text-align: center;
  
  }
.error{
  color:red;
  text-align: center;
}
body{
  background-color: rgb(255, 155, 55);


}
.bannerTitulo{
  background: rgb(252,194,136);
  background-image:url(../img/BackBanner.jpg) ,radial-gradient(circle, rgba(252,194,136,1) 0%, rgb(241, 76, 11) 120%);
  background-blend-mode: multiply,darken;
  background-size: 1950px;
  background-position: right;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  margin: 3px;
  -webkit-animation: Animation 100s ease infinite;
  -moz-animation: Animation 100s ease infinite;
  animation: Animation 100s ease infinite;
}

form{
  background-color: white;
  border-radius: 3px;
  color: #999;
  font-size: 0.8em;
  font-family: Gobold;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
}

input, textarea{
  border: 0;
  outline: none;
  width: 500px;
}

.field{
  border: solid 1px #ccc;
  padding: 10px;

}
.field:focus{
  border-color: black;
}
.center-content{
  display: flex;
  justify-content: center;
  align-items: center; /* Optional */
}
.btn-green{
  margin: 20px;
  width: 134px;
  overflow: hidden;
}

.formulario{
margin-top: 10px;
width: 800px;
border-style: groove;
border-color: black;
font-size: 18px;
padding: 5px;
}

.form-wrapper{
display: flex;
align-items: center;
justify-content: center;
}


h1.addMenuTitle{
  display: block;
  font-family: Gobold;
  padding: 30px;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
}
/*
.btn-green{

}
*/
@font-face {
  font-family: Gobold;
  src: url(../img/Gobold-Lowplus.otf);
}


@-webkit-keyframes Animation {
  0%{background-position:20% 20%}
  50%{background-position:100% 20%}
  100%{background-position:20% 20%}
}
@-moz-keyframes Animation {
  0%{background-position:20% 20%}
  50%{background-position:100% 100%}
  100%{background-position:20% 20%}
}
@keyframes Animation { 
  0%{background-position:30% 20%}
  50%{background-position:100% 50%}
  100%{background-position:30% 20%}
}