body{
    background-color: rgb(248, 194, 123);
    padding:0px;
}
.center {
    text-align: center;
  }
.bannerTitulo{
    background: rgb(252,194,136);
    background: radial-gradient(circle, rgba(252,194,136,1) 0%, rgba(242,105,34,1) 120%);
    background-image:radial-gradient(circle, rgba(252,194,136,1) 0%, rgba(242,105,34,1) 120%),url(/img/BackBanner.jpg);
    background-blend-mode:multiply,normal;
    background-size: 1950px;
    background-position: right;
    border-radius: 20px;
}
a{
    text-decoration:none;
}
.banner{
    background-color:white;
    margin: 40px;
    padding: 60px;

    text-align: center;


    border-radius: 10px;
    transition: 0.5s;
}
.banner:hover{
    background-color:rgb(199, 199, 199);
    transition: 0.5s;
}
#banner1 a:hover{
    background-color: red;
}
#banner1 ul ul{
    display:none;
    list-style: none;
}
#banner1 ul:hover ul{
    display: block;
}

.mat li{
    display:none;
}
.mat li:hover li{
    display:block;
}
