.center {
    text-align: center;
  
  }

body{
  background-color: rgb(255, 155, 55);


}
.bannerTitulo{
    background: rgb(252,194,136);
    background: radial-gradient(circle, rgba(252,194,136,1) 0%, rgba(242,105,34,1) 120%);
    background-image:radial-gradient(circle, rgba(252,194,136,1) 0%, rgba(242,105,34,1) 120%),url(/img/BackBanner.jpg);
    background-blend-mode:multiply,normal;
    background-size: 1950px;
    background-position: right;
    border-radius: 10px;
}

form{
  background-color: white;
  border-radius: 3px;
  color: #999;
  font-size: 0.8em;
  padding: 20px;
  margin: 0 auto;
  width: 300px;
  border-radius: 20px;
}

input, textarea{
  border: 0;
  outline: none;
  width: 500px;
}

.field{
  border: solid 1px #ccc;
  padding: 10px;

}
.field:focus{
  border-color: #18A383;
}
.center-content{
  text-align: center;
}
.formulario{
  margin-top: 10px;
width: 800px;
}

.form-wrapper{
display: block;
align-items: center;
justify-content: center;
}


h1.addMenuTitle{
  display: block;
  font-family: Gobold;
  padding: 30px;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20px;


}

@font-face {
  font-family: Gobold;
  src: url(/img/Gobold\ Lowplus.otf);
}